In [1]:
import pandas as pd
import sys 
import os
#sys.path.append(os.path.abspath('..'))
from src.data_analyzer import DataAnalyzer

In [2]:
data=pd.read_csv('../data/raw/data.csv',delimiter=',', encoding='ISO-8859-1')
analyzer = DataAnalyzer(data)

In [3]:
analyzer.display_summary()

Vue globale des données :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

## Remarques : 
Le typage des colonnes : InvoiceNo, Description, InvoiceDate sont à corrigés

In [4]:
analyzer.count_missing_values()

        Column  Missing Values
0    InvoiceNo               0
1    StockCode               0
2  Description            1454
3     Quantity               0
4  InvoiceDate               0
5    UnitPrice               0
6   CustomerID          135080
7      Country               0

## Remarques : 
# 135080 CustomerID manquants
 1454 Descriptions de produit manquantes

In [5]:
data[data['UnitPrice']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,8/12/2011 14:51,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,8/12/2011 14:52,-11062.06,NaN,United Kingdom

In [6]:
data[data['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

## Remarques :
Il existe des transactions avec des quantités ou prix unitaire negatif, on considére que ces transaction des retours d'articles et donc à supprimer

In [7]:
analyzer.product_id_consistency()

,StockCode,Description_Count,Descriptions
0,10080,3,"[GROOVY CACTUS INFLATABLE, nan, check]"
1,10133,2,"[COLOURING PENCILS BROWN TUBE, damaged]"
2,15058A,3,"[BLUE POLKADOT GARDEN PARASOL, nan, wet/rusty]"
3,15058C,2,"[ICE CREAM DESIGN GARDEN PARASOL, wet/rusty]"
4,16008,2,"[SMALL FOLDING SCISSOR(POINTED EDGE), check]"
...,...,...,...
645,90195A,2,"[PURPLE GEMSTONE BRACELET, check]"
646,90210D,2,"[PURPLE ACRYLIC FACETED BANGLE, check]"
647,DCGS0003,2,"[BOXED GLASS ASHTRAY, ebay]"
648,DCGS0069,2,"[OOH LA LA DOGS COLLAR, ebay]"
649,gift_0001_20,2,"[Dotcomgiftshop Gift Voucher £20.00, to push o..."

## Remarques :
Il existe une inconsistance entre les id des produits et leur description, avec des description de cause de retour par exemple "damaged", "wet/rusty"

In [8]:
data = data[(data['Quantity'] > 0) & (data['UnitPrice'] > 0)]